
/************************* 

BAsic Setup

***************************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    color: black; 

}
.clearfix::after{
    content: "";
    background-color: white;
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

    
}





/* *****************

Reusable Components

********************/


.row{
    max-width: 1140px;
    
    
    margin: 0 auto;
    
}




h1,h2{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;

}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    



}

h1{
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase; 
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 50px;

}

h2::after{
    display: block;
    height: 2px;
    background-color: orange;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    


}

h3{
    font-size: 110%;
    margin-bottom: 15px;

}

/* 
Buttons
*/

.btn,
input[type="submit"]

{
    display: inline block;
    margin-right: 10px;
    border: 1px solid #e67e22  ;
    padding: 10px 30px;
    border-radius: 200px;
    text-decoration: none;
    color: #fff;
    margin-top: 100px;
    margin-top: 50px;



}

.btn-full:link,
.btn-full:visited,
input[type="submit"] 
{
    background-color: #e67e22;

}
.btn-full:hover,
.btn-full:active,

input[type="submit"]{
    background-color: #cf6d17;
    
}




.btn-ghost:link,
.btn-ghost:visited
{ 
    color: #e67e22;

    
}


.btn-ghost:hover,
.btn-ghost:active{
    background-color:#e67e22;
    color: #fff;
    cursor: move;
    

}
    




/**********************************
Header

****************************/

header{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0, 0, 0.7)), url(img/hero.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
    

}



.logo{
    height: 100px;
    width: auto;
    float: left;
    margin: 10px;

}

.logo-black{
    height: 100px;
    width: auto;
    float: left;
    display: none;
    

}


/* 
mobile- nav icon
*/
.mobile-nav-icon{
    display: block;
    float: right;
    text-decoration: none;
    color: #ccc;
    font-size: 200%;
    cursor: pointer;
    padding: 2%;
    display: none;
     

}


/* 
  stick   nav  menu
*/
.stick{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 2px #333 ;
    z-index: 9999;
    
    
    
    
    
}




.stick .main-nav{
    margin-top: 20px; 
}


.stick .main-nav li a:link,
.stick .main-nav li a:visited{
    color: #555;
} 


.stick .logo-black{
    display: block;
    margin: 10px;
}
.stick .logo{
    display: none;
    

}

.logo-black{
    height: 50px;
    width: auto;
    float: left;
    margin: 20px;
    display: none;


}




.main-nav{
    float: right;
    list-style: none;
    margin-top: 60px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 100%;  
    
    
}

/* 
hero-text-box
*/



.main-nav li{
    display: inline-block;
    margin-left: 40px;
    
    

}


.hero-text-box{
    width: 1140px;
    position:  absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
    
}


.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 90%;
    padding-bottom: 8px;
    transition: border-bottom 0.4s;


}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid orange;
    

}


/****************************** 
Section Features

****************************/

section{
    padding: 45px 0;

}

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;


}

.box{
    padding: 1%;

}

.box p{
    font-size: 5000%;
    


}
.text{
    font-size: 22px;
    line-height: 35px;
}
.icon-big{
    font-size: 200%;
    display: block;
    color: #e67e22;
    margin: 10px;

}


.meals-showcase{
    width: 100%;
    list-style: none;
    padding: 0;


    

}


.meals-showcase li{
    display: block;
    float: left;
    width: 25%;

    

}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color:black ;

}
.meal-photo img{
    opacity: 70%;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.7s opacity 0.3s;



}

.meal-photo img:hover{
    transform: scale(1.03);
    opacity:  1;

}
.section-meals{
    padding: 0;


}


/* 

How it works
*/

.section-steps{
    background-color: #f4f4f4;

}


.steps-box{
    margin-top: 30px;


}

.steps-box:first-child{
    text-align: right;
    padding: 3%;


}

.steps-box:last-child{
    padding: 3%;
     

}


.app-screen{
    width: 40%;
}

.works-steps div{
    width: 50px;
    height:50px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    text-align: center;
    padding: 6px;
    font-size: 150%;
    float: left;
    margin-right: 10px;

    
}
.works-steps{
    margin-top: 50px;

}

.btn-app{
    height: 50px;
    width: auto;
    margin-top: 20px;
    text-decoration: none;
}

/******************** 



  SEction Cities
 ***********************************/

 .section-cities h2{
     margin-top: 50px;
 }


 
.box img{
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    transform: scale(1);
    transition: 0.3s;
    

}

.box img:hover{
    transform: scale(1.15);
}

.icon-small{
    display: inline block;
    width: 30px;
    color: #e67e22;
    


}


/******************** 



  SEction-tesimonials
 ***********************************/


 .section-testimonials{
     background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0, 0, 0.7)), url(../img/back-customers.jpg);
     background-size: cover;
     background-attachment: fixed;
     color: #f4f4f4;
 
    }

blockquote{
    padding: 1px;
    font-style: italic;
    line-height: 145%;
    color: #fff;
    position: relative;

    
    
    

}
blockquote::before{
    content: "\201c";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -15px;



}




cite{
    font-size: 90%;
    display: block;
    color: #fff;
    margin-top: 20px;
}

cite img{
    height: 50px;
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
    vertical-align: middle;

}



/* 
Sign up

*/

.section-plans{
    background-color: whitesmoke ;
    
}


.plan-box{
    background-color: #fff;
    border-radius: 5px;
    margin-left: 5%;
    width: 90%;
    margin-left: 20px;
    font-size: 70%;
    
}

.plan-box div{
    padding: 25px;
    border-bottom: 1px solid rgb(192, 180, 180) ;
    
}

.plan-price{
    font-size: 200%;
    margin-bottom: 10px;
    font-weight: 380;
    color: #e67e22;
}

.plan-box ul{
    list-style: none;
}

.plan-box li{
    font-size: 110%;
    font-style: italic;
}


.plan-box div:first-child{
    background-color:rgb(240, 231, 231);

}

.plan-box div:last-child{
    text-align: center;
}


/* 
section-form

*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 4px 3px rgba(241, 225, 225, 0.7) ;
    
}
textarea{
    height: 20vh;
    
}

*:focus{
    outline: none;
}



/* 
       section-footer
*/


footer{
    background-color: #333;
    padding-top: 60px;
}

.footer-box{
    
    
    padding-bottom: 3%;
    display: flex  ;
    
    
        
}


.footer-box ul li{
    display: inline-block;
    margin-right: 15px;
}


.blogs{
    text-decoration: none;
    color: #ccc;
    
}

.copyright{
    display: flex;
    justify-content: center;
    padding-top:  3%;
    padding-bottom:  3%;
    color: #ccc;
    
    
}

.footer-box:last-child ul{
    text-align: center;
    margin-left: 200px;
}



.maps{
    display: flex;
    justify-content: center;
    padding:0%;
    width: fit-content;
    box-shadow: 4px 3px rgba(18, 194, 97, 0.7) ;
    margin-left: 240px;
    flex-wrap: wrap;
    
    
    
    
}


/* 
aniomation
*/



.js_wp_1 .animate__animated,
.js_wp_2 .animate__animated
{

    opacity: 1;
    
}



.js_wp_1,
.js_wp_2
{
    opacity: 0;
}



































